<ul class="filterButtonsSection">
  <li>
    <button type="button" class="filterBtn" data-filter="nowPlaying">
      Now playing
    </button>
  </li>
  <li>
    <button type="button" class="filterBtn" data-filter="popular">
      Popular
    </button>
  </li>
  <li>
    <button type="button" class="filterBtn" data-filter="topRated">
      Top rated
    </button>
  </li>
  <li>
    <button type="button" class="filterBtn" data-filter="upcoming">
      Upcoming
    </button>
  </li>

</ul>