<ul class="filterButtonsSection">
  <li>
    <button type="button" class="filterBtn" data-filter="Favorites">
      Favorites
    </button>
  </li>
  <li>
    <button type="button" class="filterBtn" data-filter="Queque">
      Queque
    </button>
  </li>
</ul>