<div class="searchSection">
  <ul class="filterButtonsSection libraryBtnSection">
    <li>
      <button type="button" class="filterBtn" data-filter="favorites">
        Favorites
      </button>
    </li>
    <li>
      <button type="button" class="filterBtn" data-filter="queque">
        Queque
      </button>
    </li>
  </ul>

</div>