/* * {
  outline: 1px solid white;
} */

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accentColor: rgb(193, 154, 187);
  --primaryColor: rgb(225, 225, 225);

  --activeColor: rgb(209, 59, 59);
  --inactiveColor: rgb(102, 102, 102);

  --background-accentColor: rgb(3, 49, 61);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
button {
  transition: color 500ms ease-in-out, background-color 700ms ease-in-out;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
  padding: 2rem;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  /* height: auto; */
  object-fit: cover;
}

.container {
  min-width: 425px;
  max-width: 1200px;

  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  /* min-width: 420px; */
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  @media screen and (min-width: 599px) {
    /* --tabletMaxWidth: 1000px; */
    /* --mobileMaxWidth: 800px; */
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  @media screen and (min-width: 1001px;) {
    /* --desktopMaxWidth: 1250px; */
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation {
  width: 100%;
}

.navigation-list {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.navigation-list__item {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #000;
}

.logoLink svg,
.logoLink use {
  position: relative;
  z-index: -1;
  /* pointer-events: none; */
}

.logoLink {
  color: currentColor;
}
.logoLink:hover,
.logoLink:focus {
  color: var(--accentColor);
}

.logoLink svg {
  width: 5rem;
  height: 5rem;
}
.navLink {
  font-size: 3rem;
  color: currentColor;
  text-decoration: none;
  font-weight: 800;
}
.navLink:hover,
.navLink:focus {
  color: var(--accentColor);
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  position: relative;

  @media screen and (min-width: 950px) {
    width: 70%;
  }
}

.searchForm label {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.searchForm input {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  padding: 1.5rem;

  @media screen and (min-width: 599px) {
    /* margin-left: 5rem; */
    /* width: 80%; */
  }
}

.searchBtn {
  position: absolute;
  font-size: 2rem;

  top: 0;
  left: 100%;
  translate: -120% 130%;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #fff;
  height: 4rem;
  width: 4rem;

  /* height: 100%; */
  /* flex-wrap: nowrap; */
}

.searchBtn:hover,
.searchBtn:focus {
  color: var(--accentColor);
}

.searchBtn svg {
  display: block;
  fill: currentColor;
  height: 100%;
  width: 100%;
}

.navBtn {
  font-size: 2rem;
}

.rightArrow,
.leftArrow {
  min-width: 3rem;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

/* main */

.main {
  width: 100%;
  /* position: relative; */

  @media screen and (min-width: 599px) {
    padding: 0 2rem;
  }
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.filterButtonsSection {
  padding: 2rem 0 2rem 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 599px) {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
  }
}

.filterButtonsSection li {
  flex-basis: 100%;
  @media screen and (min-width: 599px) {
    flex-basis: calc((100% - 2rem) / 2);
  }

  @media screen and (min-width: 1005px) {
    flex-basis: calc((100% - 6rem) / 4);
  }
}

.filterButtonsSection.libraryBtnSection li {
  @media screen and (min-width: 599px) {
    flex-basis: calc((100% - 2rem) / 2);
  }
}

.filterBtn {
  font-size: 2.5rem;
  font-weight: 600;
  height: 100px;
  width: 100%;
}

.filterButtonsSection button:hover,
.filterButtonsSection button:focus {
  color: var(--accentColor);
  background-color: var(--background-accentColor);
}

/* gallery */
.gallery {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding-top: 3rem;

  @media screen and (min-width: 699px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 950px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 730px;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;

  height: fit-content;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.img-wrap {
  max-width: 100%;
  height: 70%;
  /* flex-grow: 2;   */
  overflow: hidden;
  cursor: pointer;
}

.gallery-item-captionBlock {
  /* min-height: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30%;
  /* pointer-events: none; */
  overflow: hidden;
  flex-grow: 1;
}

.gallery-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.gallery-year {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.gallery-item_genres {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* height: 15%; */
  padding: 1rem;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.genreIdLink {
  color: currentColor;
}

.genreIdLink.active {
  font-size: 2rem;
}

/* pagination */
.paginationBlock {
  position: fixed;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  top: 100%;
  left: 50%;

  translate: -50% -140%;

  min-width: fit-content;
  z-index: 100;

  display: flex;
  align-items: center;
  height: 2.6rem;
}

.paginationBlock button {
  width: 3.25rem;
}

.paginationBlock svg,
.paginationBlock use {
  /* position: relative;
  z-index: -1; */
  /* pointer-events: none; */
}
.pageEllipsis {
  fill: currentColor;
}
.pagBtn {
  height: 100%;
  font-size: 1.5rem;
  background-color: bisque;
  color: #242424;
}

.paginationBlock svg {
  width: 40px;
  height: 40px;
}

.pagBtn.active {
  background-color: red;
  color: wheat;
  font-size: 1.5rem;
}

.leftArrow,
.rightArrow {
  background-color: rgb(34, 139, 34);
}
.active {
  color: red;
  /* background-color: red; */
}
.inactive {
  background-color: rgb(110, 110, 110);
  /* remove possibility of click event here */
  pointer-events: none;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 200;

  min-width: 860px;
}

.modal.isOpen {
  display: block;
}
.modal.isClosed {
  display: none;
}

.modal button:hover,
.modal button:focus {
  color: var(--accentColor);
}

.modal svg {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(72, 65, 65, 0.4); */
  background-color: rgb(72, 65, 65);
}

.backdrop img {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
  opacity: 0.25;
}

/* .modal-img-backdrop {
  width: 100%;
  height: 100%;
  background-color: #242424;
} */

.modalLayout {
  position: relative;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 200;

  border: 1px solid #000;

  min-width: 550px;

  @media screen and (min-width: 999px) {
    width: 65%;
  }
}
.modalLayout::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  background-color: rgb(134, 127, 128);
  z-index: -1;
}

.getModalVideos {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -100%;
  z-index: 1111;
  background-color: transparent;
  width: 60%;
  height: 30px;
}

.modalContent {
  display: flex;
  height: 80%;
}
.modalBtnBlock {
  /* height: 20%; */
  padding: 2rem;
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.modalBtnBlock-btn {
  /* padding: 1rem;
  font-size: 3rem;
  flex-basis: 6rem;
  height: 2rem; */
  font-size: 1.2rem;
  width: 130px;
  height: 75px;
}

.modalBtnBlock-btn.addItem {
  cursor: cell;
}
.modalBtnBlock-btn.removeItem {
  cursor: url("./assets/close-stroke.png"), pointer;
}

.modalContentHero {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posterMedia-wrap {
  position: relative;
  /* height: 70%; */
  height: 70%;
  /* max-height: 30%; */
  /* height: 100%; */
  /* width: 50%; */

  /* max-height: 100%; */
  /* width: 100%; */
  /* height: auto; */
}

.posterMedia-wrap img {
  /* height: 100%; */

  /* width: 100%; */
  height: 100%;
  object-fit: scale-down;
}

.filmInfo {
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  z-index: 1000;
  font-weight: 700;

  max-height: 100%;
  width: 60%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* 
.filmInfo-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.film-title {
  font-size: 2rem;
  position: relative;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 30%;
  /* overflow: auto; */
}
.film-title span {
  position: absolute;
  font-size: 1rem;
  top: 100%;
  left: 100%;
  translate: -100% 0;
  padding: 0.5rem;
}

.film-title a {
  text-decoration: none;
  color: currentColor;
}

.production {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productionCompany-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 1rem; */
}
.productionCompany-item {
  display: flex;
  align-items: center;
  height: 4rem;
}
.productionCountry-itemText span {
  display: block;
}
.production-title {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.logo-wrap {
  display: inline-block;
  height: 50px;
  /* width: 100%; */
  /* aspect-ratio: 1/1; */
}

.productionCompanyName {
  font-size: 1.5rem;
}

.logo-wrap:hover {
  /* ? */
}

.productionCompany-logo {
  height: 100%;
  object-fit: scale-down;
}

.genres {
  display: flex;
  /* align-items: flex-start; */
  gap: 2rem;
}
.modalgenres-title {
  display: flex;
  align-items: center;
  /* display: inline-block; */
}
.modalgenres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 1rem;
}
.modalgenres-item {
  display: inline-block;
  width: fit-content;
}

.closeModal-btn {
  position: absolute;
  z-index: 111;
  border-radius: 50% 50%;
  aspect-ratio: 1/1;
  top: 0;
  left: 85%;
  translate: 0 50%;
  border: none;
  background-color: transparent;
  /* filter:  */
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.closeModal-btn svg {
  width: 1.7rem;
  height: 1.7rem;
}

.removeItem {
  background-color: red;
}
.addItem {
  background-color: green;
}

.scrollup-btn {
  position: fixed;

  top: 80%;
  left: 100%;
  translate: -50% -50%;
  background-color: transparent;
  border: none;

  width: 12rem;
  height: 5rem;

  color: rgb(73, 94, 94);
  transition: color 500ms ease, transform 600ms ease-in-out;

  display: flex;
  justify-content: end;

  padding: 0;
}

.scrollup-btn svg {
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: 111;
  color: currentColor;
  width: 90px;
  /* width: 100%;
  height: 100%; */
}

.scrollup-btn:hover,
.scrollup-btn:focus {
  color: rgb(143, 37, 37);

  transform: translate(-60%, 0);
}

.modalcontrol-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
}

.modalcontrol-btn svg {
  width: 3rem;
  height: 3rem;
}

.modalcontrol-btn.controlRight {
  left: 90%;
  translate: -100% -50%;
}

.modalcontrol-btn.controlLeft {
  left: 10%;
  translate: 0 -50%;
}

/* .spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 555;
  pointer-events: none;
} */

.loader.hidden {
  display: none;
}

.loader {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 555;
  pointer-events: none;

  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
