* {
  outline: 1px solid white;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #000;
}

.navigation {
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchForm {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.searchForm input {
  flex-grow: 1;
  font-size: 2rem;
}

.searchForm button {
  font-size: 2rem;
}

.navigation-list {
  display: flex;
  gap: 1rem;
}

.navigation-list__item {
}
.navBtn {
  font-size: 2rem;
}

/* main */

.main {
  width: 100%;
  /* padding: 0 2rem; */
}

.filterButtonsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.filterBtn {
  font-size: 2rem;
}

/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery-item {
  flex-basis: calc((100% - 2rem) / 3);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.gallery-title {
  font-size: 1.5rem;
  padding: 0 1rem;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 111;
}

.gallery-year {
  text-align: center;
}

.img-wrap {
  max-width: 100%;
  height: 70%;
  /* flex-grow: 2;   */
}

img {
  object-fit: cover;
  height: 100%;
}
.gallery-item_genres {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 15%;
  align-items: center;
}

/* pagination */
.paginationBlock {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.pagEllipsis {
}
.pagBtn {
  font-size: 1.5rem;
}

.active {
  background-color: red;
}
.inactive {
  background-color: green;
  /* remove possibility of click event here */
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 200;

  min-width: 860px;
}

.modal.isOpen {
  display: block;
}
.modal.isClosed {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(72, 65, 65, 0.4); */
  background-color: rgb(72, 65, 65);
}

.backdrop img {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
  opacity: 0.25;
}

/* .modal-img-backdrop {
  width: 100%;
  height: 100%;
  background-color: #242424;
} */

.modalLayout {
  position: relative;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 111;

  border: 1px solid #000;

  min-width: 550px;
}
.modalLayout::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  background-color: rgb(134, 127, 128);
  z-index: -1;
}

.modalContent {
  display: flex;
  height: 85%;
}
.modalBtnBlock {
  height: 15%;
  padding: 2rem;
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.modalBtnBlock-btn {
  /* padding: 1rem;
  font-size: 3rem;
  flex-basis: 6rem;
  height: 2rem; */
}

.modalContentHero {
  max-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posterImg-wrap {
  /* height: 70%; */
  min-height: 60%;
  /* max-height: 30%; */
  /* height: 100%; */
  /* width: 50%; */

  /* max-height: 100%; */
  /* width: 100%; */
  /* height: auto; */
}

.posterImg-wrap img {
  /* height: 100%; */

  /* width: 100%; */
  height: 100%;
  object-fit: scale-down;
}

.filmInfo {
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  z-index: 1000;
  font-weight: 700;

  max-height: 100%;
  width: 60%;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* 
.filmInfo-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.film-title {
  font-size: 2rem;
  position: relative;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-height: 50%;
  /* overflow: auto; */
}
.film-title span {
  position: absolute;
  font-size: 1rem;
  top: 100%;
  left: 100%;
  translate: -100% 0;
  padding: 0.5rem;
}

.film-title a {
  text-decoration: none;
  color: currentColor;
}

.production {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productionCompany-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 1rem; */
}
.productionCompany-item {
  display: flex;
  align-items: center;
  height: 4rem;
}
.productionCountry-itemText span {
  display: block;
}
.production-title {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.logo-wrap {
  display: inline-block;
  height: 50px;
  /* width: 100%; */
  /* aspect-ratio: 1/1; */
}

.productionCompanyName {
  font-size: 1.5rem;
}

.logo-wrap:hover {
  /* ? */
}

.productionCompany-logo {
  height: 100%;
  object-fit: scale-down;
}

.genres {
  display: flex;
  /* align-items: flex-start; */
  gap: 2rem;
}
.modalgenres-title {
  display: flex;
  align-items: center;
  /* display: inline-block; */
}
.modalgenres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 1rem;
}
.modalgenres-item {
  display: inline-block;
  width: fit-content;
}

.closeModal-btn {
  position: absolute;
  z-index: 111;
  border-radius: 50% 50%;
  aspect-ratio: 1/1;
  width: 2.5rem;
  font-size: 2rem;
  top: 0;
  left: 85%;
  translate: 0 100%;
}

.removeItem {
  background-color: red;
}
.addItem {
  background-color: green;
}

.scrollup-btn {
  position: fixed;
  top: 90%;
  left: 90%;
  translate: -100% -100%;
}
